/* downloaded movie marquee font to use */
@font-face {
    font-family: "My Custom Font";
    src: url(../font/rialto/RialtoNF.ttf) format("truetype");
}

.customfont {
    font-family: "My Custom Font", Verdana, Tahoma;
}

/* START SCREEN STYLING */

img {
    size: 100%;
}

body {
    background-image: url("../images/theaterBackgound.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#startGameScreen {
    background: white;
    border: solid;
    border-color: grey;
    opacity: 0.5;
    margin-top: 20%;
    padding: 10%;
    text-align: center;
}

#startGameScreen p {
    margin: 0.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#startBTN {
    margin-bottom: 5%;
}


/* QUIZ STYLING */

.quotes {
    background: white;
    border: solid;
    border-color: grey;
    opacity: 0.5;
    margin-top: 20%;
    padding: 10%;
    
}

.h2q {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#submit {
    text-align: center;
    margin-left: 40%;
}

#display {
    font-family: monospace;
    font-size: 60px;
    text-align: center;
}

/* results  */

#results h2 {
    text-align: center;
}

.row {
    display: block;
}